html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  width: 100%;
}

div {
  display: flex;
  flex-wrap: wrap;

}

.page {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  margin: 20px;
}

.page1 {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  margin: 20px auto;
}
.pixel {
  width: 1.5rem;
  height: 1.5rem;
}