html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  width: 100%;
}

div {
  display: flex;
  flex-wrap: wrap;

}

.page {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  margin: 20px;
}

.page1 {
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  margin: 20px auto;
}

/* .one {background-color: #b0b5bc;}
.two {background-color: #bdb8b4;}
.three {background-color: #c9b5ab;}
.four { background-color: #dab093;}
.five { background-color: #e79a6b;}
.six { background-color: #f27f44;}
.seven { background-color: #f05434;}
.eight { background-color: #b22836;}
.nine { background-color: #332036;}
.ten { background-color: #05071e;} */