html, body, .viewport {
  
  margin: 0;
  text-align: center;
  background-color: black;
  cursor: crosshair;
}

#app {
  padding-left: 24%;
  padding-right: 24%;
}




h1{
  color: white
}

input {
  margin-top: 5px;
  margin-left: 0px;
  cursor: pointer;
}




div {
  border-color: black;
  border-style: ridge;
  border-width: 1px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  cursor: crosshair;
}